# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django stuff:
*.log
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# Render-specific files
/.render-build/
